.box .box__inner{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.box__title{
     max-width: 455px;
        font-weight: 600px;
        font-size: 46px;
        line-height: 125%;
        letter-spacing: 0%;
        text-transform: uppercase;
        text-align: center;
}
.box__list{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.box__item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box__num{
    border: 1px solid rgb(200, 196, 196);
    border-radius: 50%;
    max-width: 40px;
    height: 40px;
    text-align: center;
}
.box__num{
    font-family: Raleway;
        font-weight: 600px;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        padding-top:3%;
}
.box__heading{ 
        font-weight: 600px;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
}
.box__text{
    max-width: 240px;
     font-weight: 500;
        font-size: 16px;
        line-height: 145%;
        letter-spacing: 0%;
        color: rgba(0, 0, 0, 0.5);
}

@media(max-width:1000px){
     .box__list{
        display: flex;
        flex-wrap: wrap;
     }
    .box__item{
        width: 45%;
    }
}
@media(max-width:477px) {
    .box__list {
        display: flex;
        flex-wrap: wrap;
    }

    .box__item {
       max-width: 45%;
    }
}
@media(max-width:350px) {
    .box .box__inner{
        max-width: 350px;
    }
   .box__list{
    padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
     
   }
   .box__text{
    width: 300px;
   }
    .box__item {
        max-width: 300px;
                
    }
}