*{
    box-sizing: border-box;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
}
a{
    text-decoration: none;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}