.carousel-item .carousel-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
    gap: 15px;
    color: white;

    h1 {

        font-weight: 700px;
        font-size: 56px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: center;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 1);
    }

    p {

        font-weight: 500px;
        font-size: 18px;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(255, 255, 255, 0.6);
        max-width: 537px;
    }

    .btn {
        background-color: gold;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        color: rgba(255, 255, 255, 1);
    }
}

.carousel-item {
    height: 87vh;
    background-size: cover;
    background-position: center;

}

body {
    font-family: Arial, sans-serif;
}

.carousel-caption {
    bottom: 20%;
}

@media(max-width:1000px) {
    .carousel-item {
        max-width: 1000px;
    }

    .carousel-content h1 {
        font-size: 48px;
    }

    .carousel-content p {
        font-size: 16px;
    }

    .btn {
        padding: 8px 16px;

    }
}

@media(max-width:681px) {
    .carousel-item .carousel-content{
        max-width: 641px;
  
        background-repeat: no-repeat;
        background-size: contain;
    }

    .carousel-item .carousel-content h1 {
        font-size: 20px;
        }

    .carousel-item .carousel-content p {
        font-size: 12px;
    }

    .btn {
        padding: 8px 16px;

    }
}