.wrapper .wrapper__inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
}

.wrapper__title {
    color: rgba(40, 43, 34, 1);
    font-weight: 600px;
    font-size: 46px;
    line-height: 125%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}

.wrapper__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

.wrapper__item {
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25%;
    border-left: 1px solid rgb(218, 218, 218);
}
@media(max-width:1000px){
    .wrapper .wrapper__inner{
        max-width: 960px;
    }
}
@media(max-width:640px) {
    .wrapper .wrapper__inner {
        max-width: 600px;
    }
    .wrapper__list{
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper__item{
        width: 
        45%;
    }
    .wrapper__title{
        font-size: 32px;
    }
}

@media(max-width:1000px) {
    .wrapper .wrapper__inner {
        max-width: 960px;
    }
}

@media(max-width:360px) {
    .wrapper .wrapper__inner {
        max-width: 300px;
    }

    .wrapper__list {
        display: flex;
        padding: 0;
    
    }
    .wrapper__image{
        width: 300px;
    }

    .wrapper__item {
        width:
            100%;
            border-left:none;
            padding: 0;
    }

    .wrapper__title {
        font-size: 26px;
    }
}